
    




              <div class="card-deck">



                <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-header bg-transparent border-success">LIBRARIAN</div>
                  <div class="card-body text-success">
                    <img src="http://clipart-library.com/new_gallery/152-1528585_logos-icons-circle.png" class="card-img" alt="...">
                  </div>
                  <div class="card-footer bg-transparent border-success"><a routerLink="/admin-add-librarian">ADD </a>  </div>
                  <div class="card-footer bg-transparent border-success"><a routerLink="/admin-view-librarian">View</a></div>
                </div>




                <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-header bg-transparent border-success">STUDENT</div>
                  <div class="card-body text-success">
                    <img src="https://visualpharm.com/assets/67/Graduation%20Cap-595b40b65ba036ed117d443f.svg" class="card-img" alt="...">
                  </div>
                  <div class="card-footer bg-transparent border-success"><a routerLink="/admin-view-student">VIEW STUDENTS</a></div>
                  <!-- <div class="card-footer bg-transparent border-success"><a routerLink="/admin-view-student">VIEW STUDENTS</a></div> -->
                </div>



                <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-header bg-transparent border-success">BOOK</div>
                  <div class="card-body text-success">
                    <img src="https://visualpharm.com/assets/489/Open%20Book-595b40b65ba036ed117d44fc.svg" class="card-img" alt="...">
                  </div>
                  <div class="card-footer bg-transparent border-success"><a routerLink="/admin-view-book">View</a></div>
                  <div class="card-footer bg-transparent border-success"><a routerLink="/admin-track-book">Track</a></div>
                </div>
               





                  </div>

