

    

    <div class="card-deck" style="margin-top: 4cm;">

<div class="card mb-2" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="https://visualpharm.com/assets/489/Open%20Book-595b40b65ba036ed117d44fc.svg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Book</h5>
          <p class="card-text">Books you Can Take.</p>
          <p class="card-text"><small class="text-muted"><a routerLink="/student-view-book">View</a></small></p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-2" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="https://thumbs.dreamstime.com/b/bag-blue-purple-gradient-icon-pack-symbol-146544467.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">Cart</h5>
          <p class="card-text">Books You Have.</p>
          <p class="card-text"><small class="text-muted"><a routerLink="/student-cart">Cart</a></small></p>
        </div>
      </div>
    </div>
  </div>




  <div class="card mb-2" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="https://image.flaticon.com/icons/png/512/1896/premium/1896430.png" class="card-img" alt="...">
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">History</h5>
          <p class="card-text">Track your Activity.</p>
          <p class="card-text"><small class="text-muted"><a routerLink="/student-history">History</a></small></p>
        </div>
      </div>
    </div>
  </div>

</div>