
<div class="col-md-4 offset-4 mt-4 mb-5 pb-5">
    <form  #form='ngForm' class="card" (ngSubmit)="changePassword(form)">
        <h1 class="center text-white text-center  bg-dark">Change Password</h1>
        <h5>{{message}}</h5>
        <div class="form-group">
            <input type="password" name="password" id="password"   class="form-control" placeholder="enter password" #password="ngModel" ngModel required >
          <div *ngIf="password.touched && password.invalid">
              <p *ngIf="password.errors.required" class="alert-danger">*this field is requred</p>
         

          </div>

          <!-- <div *ngIf="username.touched && username.invalid">
            <p *ngIf="username.errors.unique" class="alert-danger">*plase change email</p>

          </div> -->
        </div>
        <div class="form-group">
            <input type="password" name="newpassword" id="newpassword" class="form-control" placeholder="enter new password"  #newpassword="ngModel" ngModel required >
            <div *ngIf="newpassword.touched && newpassword.invalid">
                    <p *ngIf="newpassword.errors.required" class="alert-danger">*this field is requred</p>
      
                </div>

                
        </div>


        <div class="form-group">
            <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="enter confirm password"  #confirmpassword="ngModel" ngModel required >
            <div *ngIf="confirmpassword.touched && confirmpassword.invalid">
                    <p *ngIf="confirmpassword.errors.required" class="alert-danger">*this field is requred</p>
      
                </div>

                
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-dark float-right">change password</button>
        </div>
    </form>
</div>
